@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Switzer';
  src: url('../fonts/Switzer-Black.woff2') format('woff2');
  font-weight: 900;
}


body {
    height: 100vh; 
    margin: 0;
    font-family: 'Switzer', sans-serif;
    /* background: linear-gradient(to top, #000000, #000000); */
    background-color: #000000;
}

img {
    width: 100%;
    height: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 3fr);
    padding: 15px;
    gap: 10px;
    grid-auto-flow: 50px;
    grid-template-areas: 
    "top-header top-header top-header top-header . . . . . . bio1 bio1"
    "top-header top-header top-header top-header . . . . . . bio1 bio1"
    ". . . . text-1 . layout-1 layout-1 . . . ."
    ". . . . . . layout-1 layout-1 . . . ."
    ". . . . . . . . . . . ."
    "layout-2 layout-2 layout-2 layout-2 layout-3 layout-3 layout-3 layout-3 layout-4 layout-4 layout-4 layout-4"
    "layout-2 layout-2 layout-2 layout-2 layout-3 layout-3 layout-3 layout-3 layout-4 layout-4 layout-4 layout-4"
    "layout-2 layout-2 layout-2 layout-2 layout-3 layout-3 layout-3 layout-3 layout-4 layout-4 layout-4 layout-4"
    "layout-2 layout-2 layout-2 layout-2 layout-3 layout-3 layout-3 layout-3 layout-4 layout-4 layout-4 layout-4"
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . prepress-12 prepress-12 . text-2 text-2 . . . ."
    ". . . prepress-12 prepress-12 . . . . . . ."
    ". . . . . . . . . . . ."
    "prepress-1 prepress-1 prepress-1 prepress-1 prepress-2 prepress-2 prepress-2 prepress-2 prepress-3 prepress-3 prepress-3 prepress-3"
    "prepress-1 prepress-1 prepress-1 prepress-1 prepress-2 prepress-2 prepress-2 prepress-2 prepress-3 prepress-3 prepress-3 prepress-3"
    "prepress-1 prepress-1 prepress-1 prepress-1 prepress-2 prepress-2 prepress-2 prepress-2 prepress-3 prepress-3 prepress-3 prepress-3"
    "prepress-1 prepress-1 prepress-1 prepress-1 prepress-2 prepress-2 prepress-2 prepress-2 prepress-3 prepress-3 prepress-3 prepress-3"
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . text-3 . typo-1 typo-1 . . . . ."
    ". . . . . typo-1 typo-1 . . . . ."
    ". . . . . . . . . . . ."
    "typo-2 typo-2 typo-2 typo-2 typo-3 typo-3 typo-3 typo-3 typo-6 typo-6 typo-6 typo-6"
    "typo-2 typo-2 typo-2 typo-2 typo-3 typo-3 typo-3 typo-3 typo-6 typo-6 typo-6 typo-6"
    "typo-2 typo-2 typo-2 typo-2 typo-3 typo-3 typo-3 typo-3 typo-6 typo-6 typo-6 typo-6"
    "typo-2 typo-2 typo-2 typo-2 typo-3 typo-3 typo-3 typo-3 typo-6 typo-6 typo-6 typo-6"
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . bio bio bio bio . . . ."
    ". . . . bio bio bio bio . . . ."
    ". . . . . . . . . . . .";
    
}

.top-header {
  grid-area: top-header;
     position: sticky;
  top: 0;
}

.top-header h1 {
    font-family: 'Switzer', sans-serif;
    font-size: 10vw;
    margin: 10px;       
    line-height: 1;  
     color: rgb(255, 255, 255);            
    text-align: left;     
     width:100%;             
    padding: 0px 0;         
    z-index: 999;
}

.bio {
    grid-area: bio;
    color: rgb(255, 255, 255);
    line-height: 18.8px;
    text-align: center;
    position: sticky;
    bottom: 27px;
}

.bio1 {
  grid-area: bio1;
  align-self: center;
  text-align: center;
  position: sticky;
  top: 10px;
  z-index: 999;
}


.bio1 a {
    color: rgb(255, 255, 255);        
    font-size: 50pt;
    text-decoration: none;
}

.bio1 a:hover {
    color: #c7c0c0;      
    cursor: pointer;
}

.layout-1 {
    grid-area: layout-1;
}

.layout-2 {
    grid-area: layout-2;
}

.layout-3 {
    grid-area: layout-3;
}

.layout-4 {
    grid-area: layout-4;
}

.prepress-12 {
    grid-area: prepress-12;
}

.prepress-1 {
    grid-area: prepress-1;
}

.prepress-2 {
    grid-area: prepress-2;
}

.prepress-3 {
    grid-area: prepress-3;
}

.typo-1 {
    grid-area: typo-1;
}

.typo-2 {
    grid-area: typo-2;
}

.typo-3 {
    grid-area: typo-3;
}

.typo-6 {
    grid-area: typo-6;
}


.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}

.text-1,
.text-2,
.text-3 {
    color: white;
}

.layout-2,
.layout-3,
.layout-4,
.text-1 {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.layout-1:hover ~ .layout-2 {
    opacity: 1;
}

.layout-1:hover ~ .layout-3 {
    opacity: 1;
}

.layout-1:hover ~ .layout-4 {
    opacity: 1;
}

.layout-1:hover ~ .text-1 {
    opacity: 1;
}

.prepress-1,
.prepress-2,
.prepress-3,
.text-2 {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.prepress-12:hover ~ .prepress-1 {
    opacity: 1;
}

.prepress-12:hover ~ .prepress-2 {
    opacity: 1;
}

.prepress-12:hover ~ .prepress-3 {
    opacity: 1;
}

.prepress-12:hover ~ .text-2 {
    opacity: 1;
}


.typo-2,
.typo-3,
.typo-6,
.text-3 {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.typo-1:hover ~ .typo-2 {
    opacity: 1;
}

.typo-1:hover ~ .typo-3 {
    opacity: 1;
}

.typo-1:hover ~ .typo-6 {
    opacity: 1;
}

.typo-1:hover ~ .text-3 {
    opacity: 1;
}



